@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Vars */

:root {
  /*
   * Color palette available
   */

  /* Slate */
  --uns-slate-50: #f8fafc;
  --uns-slate-100: #f1f5f9;
  --uns-slate-200: #e2e8f0;
  --uns-slate-300: #cbd5e1;
  --uns-slate-400: #94a3b8;
  --uns-slate-500: #64748b;
  --uns-slate-600: #475569;
  --uns-slate-700: #334155;
  --uns-slate-800: #1e293b;
  --uns-slate-900: #0f172a;
  --uns-slate-950: #020617;

  /* Gray */
  --uns-gray-50: #f9fafb;
  --uns-gray-100: #f3f4f6;
  --uns-gray-200: #e5e7eb;
  --uns-gray-300: #d1d5db;
  --uns-gray-400: #9ca3af;
  --uns-gray-500: #6b7280;
  --uns-gray-600: #4b5563;
  --uns-gray-700: #374151;
  --uns-gray-800: #1f2937;
  --uns-gray-900: #111827;
  --uns-gray-950: #030712;

  /* Zinc */
  --uns-zinc-50: #fafafa;
  --uns-zinc-100: #f4f4f5;
  --uns-zinc-200: #e4e4e7;
  --uns-zinc-300: #d4d4d8;
  --uns-zinc-400: #a1a1aa;
  --uns-zinc-500: #71717a;
  --uns-zinc-600: #52525b;
  --uns-zinc-700: #3f3f46;
  --uns-zinc-800: #27272a;
  --uns-zinc-900: #18181b;
  --uns-zinc-950: #09090b;

  /* Neutral */
  --uns-neutral-50: #fafafa;
  --uns-neutral-100: #f5f5f5;
  --uns-neutral-200: #e5e5e5;
  --uns-neutral-300: #d4d4d4;
  --uns-neutral-400: #a3a3a3;
  --uns-neutral-500: #737373;
  --uns-neutral-600: #525252;
  --uns-neutral-700: #404040;
  --uns-neutral-800: #262626;
  --uns-neutral-900: #171717;
  --uns-neutral-950: #0a0a0a;

  /* Stone */
  --uns-stone-50: #fafaf9;
  --uns-stone-100: #f5f5f4;
  --uns-stone-200: #e7e5e4;
  --uns-stone-300: #d6d3d1;
  --uns-stone-400: #a8a29e;
  --uns-stone-500: #78716c;
  --uns-stone-600: #57534e;
  --uns-stone-700: #44403c;
  --uns-stone-800: #292524;
  --uns-stone-900: #1c1917;
  --uns-stone-950: #0c0a09;

  /* Red */
  --uns-red-50: #fef2f2;
  --uns-red-100: #fee2e2;
  --uns-red-200: #fecaca;
  --uns-red-300: #fca5a5;
  --uns-red-400: #f87171;
  --uns-red-500: #ef4444;
  --uns-red-600: #dc2626;
  --uns-red-700: #b91c1c;
  --uns-red-800: #991b1b;
  --uns-red-900: #7f1d1d;
  --uns-red-950: #450a0a;

  /* Orange */
  --uns-orange-50: #fff7ed;
  --uns-orange-100: #ffedd5;
  --uns-orange-200: #fed7aa;
  --uns-orange-300: #fdba74;
  --uns-orange-400: #fb923c;
  --uns-orange-500: #f97316;
  --uns-orange-600: #ea580c;
  --uns-orange-700: #c2410c;
  --uns-orange-800: #9a3412;
  --uns-orange-900: #7c2d12;
  --uns-orange-950: #431407;

  /* Yellow */
  --uns-yellow-50: #fefce8;
  --uns-yellow-100: #fef9c3;
  --uns-yellow-200: #fef08a;
  --uns-yellow-300: #fde047;
  --uns-yellow-400: #facc15;
  --uns-yellow-500: #eab308;
  --uns-yellow-600: #ca8a04;
  --uns-yellow-700: #a16207;
  --uns-yellow-800: #854d0e;
  --uns-yellow-900: #713f12;
  --uns-yellow-950: #422006;

  /* Green */
  --uns-green-50: #f0fdf4;
  --uns-green-100: #dcfce7;
  --uns-green-200: #bbf7d0;
  --uns-green-300: #86efac;
  --uns-green-400: #4ade80;
  --uns-green-500: #22c55e;
  --uns-green-600: #16a34a;
  --uns-green-700: #15803d;
  --uns-green-800: #166534;
  --uns-green-900: #14532d;
  --uns-green-950: #052e16;

  /* Blue */
  --uns-blue-50: #eff6ff;
  --uns-blue-100: #dbeafe;
  --uns-blue-200: #bfdbfe;
  --uns-blue-300: #93c5fd;
  --uns-blue-400: #60a5fa;
  --uns-blue-500: #3b82f6;
  --uns-blue-600: #2563eb;
  --uns-blue-700: #1d4ed8;
  --uns-blue-800: #1e40af;
  --uns-blue-900: #1e3a8a;
  --uns-blue-950: #172554;

  /* Indigo */
  --uns-indigo-50: #eef2ff;
  --uns-indigo-100: #e0e7ff;
  --uns-indigo-200: #c7d2fe;
  --uns-indigo-300: #a5b4fc;
  --uns-indigo-400: #818cf8;
  --uns-indigo-500: #6366f1;
  --uns-indigo-600: #4f46e5;
  --uns-indigo-700: #4338ca;
  --uns-indigo-800: #3730a3;
  --uns-indigo-900: #312e81;
  --uns-indigo-950: #1e1b4b;

  /* Rose */
  --uns-rose-50: #fff1f2;
  --uns-rose-100: #ffe4e6;
  --uns-rose-200: #fecdd3;
  --uns-rose-300: #fda4af;
  --uns-rose-400: #fb7185;
  --uns-rose-500: #f43f5e;
  --uns-rose-600: #e11d48;
  --uns-rose-700: #be123c;
  --uns-rose-800: #9f1239;
  --uns-rose-900: #881337;
  --uns-rose-950: #4c0519;

  /* Other colors */
  --uns-primary: #818cf8;
  --uns-light: #fff;
  --uns-dark: #171717;
  --uns-gray: #252525;
  --uns-black: #0D0D0D;
  --uns-white: #fff;
}

/* Font config */

@font-face {
  font-family: rubik;
  src: 
    url("/fonts/rubik/Rubik.woff2") format("woff2"),
    url("/fonts/rubik/Rubik.ttf") format("truetype")
}

@font-face {
  font-family: inter;
  src: 
    url("/fonts/inter/inter.woff2") format("woff2"),
    url("/fonts/inter/inter.ttf") format("truetype")
}

/* Global body config */

body {
  font-family: inter, rubik, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  min-height: 100vh;
  background-color: var(--uns-light);
}

body[class~="dark"] {
  background-color: var(--uns-dark);
}